ion-content {
  --background: #f4f4f4;
  padding: 20px; /* Padding for the content area */
}

ion-list {
  margin-top: 10px; /* Top margin for the list */
}

ion-item {
  --border-color: #ddd;
  padding: 10px; /* Padding for each item */
}

ion-avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px; /* Right margin for avatar */
}

ion-label {
  white-space: normal; /* Ensure text wraps within ion-label */
}

ion-fab-button {
  --background: #3880ff;
}

ion-searchbar {
  --background: #fff; /* Background color of the search bar */
  margin-bottom: 10px; /* Bottom margin for search bar */
}

ion-toolbar {
  --background: #2C284C;
}

ion-title  {
  text-align: center;
  color: white;
}

ion-fab-button {
  --background: #FFE02B;
}

.add {
  color: #2C284C;
}

.update {
  color: purple;
}

.search {
  color: white;
}

.not-found {
  text-align: center;
  color: red;
}